body {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none ; 
}

.header {
  background-color: #26d0c9 ;
  color: #fff ;
  height: 90px;
}

.header-logo {
  width:300;
ã€€height:100;
}
.header-list li {
  float: left ;
  padding: 33px 20px;
}


