body {
   font-family: 'Zen Kurenaido', sans-serif;
}

li {
  list-style:none; 
}

.header {
  background-color:teal; 
  color:#fff;
  height:90px;
  font-family: 'Zen Kurenaido', sans-serif;
}

.header-logo {
  float:left;
  font-size:36px;
  padding:20px 40px;
}

.header-list li {
  float:left;
  padding:33px 20px;
}

.main{
  padding:100px 80px; 
}

.hero {
  height: 500px;
  position:relative;
}

.hero-image img {
  object-fit: cover;
  height:1000%
  width:1000%;
  clip-path:polygon(0 0, !00% 0, 100% 80%, 0 80%);
  opacity: 0.5;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding:20px;
  text align:center;
  color:#fff;
  font-family:'Yuji Syuku', serif;
}

.hero-text h1 {
  font-size:48px;
  margin:0;
  text-transform:upperca;
  font-family:'Zenkaku Gothic Antique', sans-serif;
}

.contents {
  height:500px;
  margin-top:100px;
  text-align:center;
}

.section-title {
  border-botton:2px solid #dee7ec;
  font-size:28px;
  padding-bottom:15px;
  margin-bottom:50px;
  font-family: 'Zen Kurenaido', sans-serif;
}

.contents-item {
  height:50px;
  width:auto;
  float:left;
  margin-right:20px;
  margin-left:25px;
}

.contents-item p {
  font-size:10px;
  margin-top:30px;
  font-family: 'Zen Kurenaido', sans-serif;
}

.footer {
  background-color:teal;
  color:#fff;
  height:170px;
  padding;40px;
  font-family: 'Zen Kurenaido', sans-serif;
}

.footer-logo {
  float:left;
  font-size:32px;
}

.footer-list {
  float:right;
}

.footer-list li {
  padding-bottom:20px;
}
















